<div class="detail-gallery">
                           
    <div class="product-image-slider">
        <figure class="border-radius-10">
            <img src='/assets/imgs/productIMG/<%= product.image[0]%>'
                class="img-fluid" alt="product image">
        </figure>

        <figure class="border-radius-10">
            <img src="/userassets/imgs/shop/product-16-3.jpg" alt="product image">
        </figure>
        <figure class="border-radius-10">
            <img src="/userassets/imgs/shop/product-16-4.jpg" alt="product image">
        </figure>
        <figure class="border-radius-10">
            <img src="/userassets/imgs/shop/product-16-5.jpg" alt="product image">
        </figure>
        <figure class="border-radius-10">
            <img src="/userassets/imgs/shop/product-16-6.jpg" alt="product image">
        </figure>
        <figure class="border-radius-10">
            <img src="/userassets/imgs/shop/product-16-7.jpg" alt="product image">
        </figure>
    </div>
    <!-- THUMBNAILS -->
    <div class="slider-nav-thumbnails pl-15 pr-15">
        <div><img src="/userassets/imgs/shop/thumbnail-3.jpg" alt="product image">
        </div>
        <div><img src="/userassets/imgs/shop/thumbnail-4.jpg" alt="product image">
        </div>
        <div><img src="/userassets/imgs/shop/thumbnail-5.jpg" alt="product image">
        </div>
        <div><img src="/userassets/imgs/shop/thumbnail-6.jpg" alt="product image">
        </div>
        <div><img src="/userassets/imgs/shop/thumbnail-7.jpg" alt="product image">
        </div>
        <div><img src="/userassets/imgs/shop/thumbnail-8.jpg" alt="product image">
        </div>
        <div><img src="/userassets/imgs/shop/thumbnail-9.jpg" alt="product image">
        </div>
    </div>
</div>
<!-- End Gallery -->
<div class="social-icons single-share">
    <ul class="text-grey-5 d-inline-block">
        <li><strong class="mr-10">Share this:</strong></li>
        <li class="social-facebook"><a href="#"><img
                    src="/userassets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
        </li>
        <li class="social-twitter"> <a href="#"><img
                    src="/userassets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
        </li>
        <li class="social-instagram"><a href="#"><img
                    src="/userassets/imgs/theme/icons/icon-instagram.svg"
                    alt=""></a></li>
        <li class="social-linkedin"><a href="#"><img
                    src="/userassets/imgs/theme/icons/icon-pinterest.svg"
                    alt=""></a></li>
    </ul>
</div>