<% if (cart.length>0) {
    cart.forEach((cartData,index)=>{
        %>
        <p></p>
        <tr>
        <td class="image product-thumbnail"><img src="/assets/imgs/productIMG/<%=cartData.product.image[0]%>" alt="#"></td>
        <td class="product-des product-name">
            <%=cartData.product.name%>
        </td>
        <td class="price" data-title="Price"><span><%=cartData.product.price%> </span></td>
        <td class="text-center" data-title="Stock">
            <div class="cart-product-quantity">
            
                <input type="number" class="form-control" name="qty" value="<%= cartData.quantity %>" min="1" max="10" step="1" data-decimals="0" required onchange="updateCart('<%= cartData.product._id %>', this.value)">
            </div>
        </td>
        <td class="text-right" data-title="Cart">
            <span><%=productTotal[index] %></span>
        </td>
        <td>
<button type="button" onclick="confirmRemoveCartItem('<%= cartData.product._id %>');">
<i class="fi-rs-trash"></i>
</button>
</td>                                </tr>
        <%
    })


  } %>