
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="/userassets/imgs/theme/favicon.svg"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="/userassets/css/main.css" />
  </head>



<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Pages
              <span></span> Login / Register
          </div>
      </div>
  </div>
  <section class="pt-150 pb-150">
      <div class="container">
          <div class="row">
              <div class="col-lg-10 m-auto">
                  <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-6">
                      <div class="login_wrap widget-taber-content p-30 background-white border-radius-10 mb-md-5 mb-lg-0 mb-sm-5">
                          <div class="padding_eight_all bg-white">
                              <div class="heading_s1">
                                  <h3 class="mb-30">Login</h3>
                              </div>
                              <form method="post">
                                <div class="form-group">
                                    <input
                                      type="email"
                                      id="email"
                                      name="email"
                                      onkeyup="emailChaking()"
                                      placeholder="Enter Email"
                                    />
                                    <div id="erroremail" class="ms-2 text-danger"></div>
                                  </div>
                                  <div class="form-group">
                                    <input
                                      type="password"
                                      id="password"
                                      name="password"
                                      onkeyup="passwordChaking()"
                                      placeholder="Enter Password"
                                    />
                                    <div
                                      id="errorpassword"
                                      class="ms-2 text-danger"
                                    ></div>
                                  </div>
                                  <div class="login_footer form-group">
                                      <div class="chek-form">
                                          <div class="custome-checkbox">
                                              <input class="form-check-input" type="checkbox" name="checkbox" id="exampleCheckbox1" value="">
                                              <label class="form-check-label" for="exampleCheckbox1"><span>Remember me</span></label>
                                          </div>
                                      </div>
                                      <a class="text-muted" href="/forgotPassword">Forgot password?</a>
                                  </div>
                                  <div class="form-group text-center">
                                      <button type="submit" class="btn btn-fill-out btn-block hover-up" name="login">Log in</button>
                                  </div>
                              </form>

                              <div id="text-center">
                                <% if (typeof message !== 'undefined' && message) { %>
                                    <p style="color: green;"class="text-center"><%= message %></p>
                                <% } %>
                            </div>  
                            <div id="invalid text-center">
                                <% if (typeof error !== 'undefined' && error) { %>
                                    <p style="color: red;" id="message text-center"><%= error %></p>
                                <% } %>
                              <div class="divider-text-center mt-15 mb-15">
                                <span> or</span>
                            </div>
                            <ul class="btn-login list_none text-center mb-15">
                                <li><a href="#" class="btn btn-facebook hover-up mb-lg-0 mb-sm-4">Login With Facebook</a></li>
                                <li><a href="#" class="btn btn-google hover-up">Login With Google</a></li>
                            </ul>
                            <div class="text-muted text-center">Already have an account? <a href="/register">Sign in now</a></div>
                          </div>
                      </div>
                  </div>
                  </div>
                
                
              </div>
          </div>
      </div>
  </section>
</main>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
crossorigin="anonymous"
></script>

<script>
function validation(event) {
  event.preventDefault(); // Prevent form submission



  emailChaking();



  passwordChaking();



  // Show all errors
}


function emailChaking() {
  let emailId = document.getElementById("email").value;
  let errorEmail = document.getElementById("erroremail");

  if (!/^\w+([\.-]?\w+)@\w+([\.-]?\w+)(\.\w{2,3})+$/.test(emailId)) {
    errorEmail.innerHTML = "Please enter valid email";
    return false;
  } else {
    errorEmail.innerHTML = "";
    return true;
  }
}



function passwordChaking() {
  let password = document.getElementById("password").value;
  let errorPassword = document.getElementById("errorpassword");

  if (password.trim() === "") {
    errorPassword.innerHTML = "Please enter your password";
    return false;
  } else if (password.length < 8) {
    errorPassword.innerHTML = "Please enter a minimum of 8 characters";
    return false;
  } else {
    errorPassword.innerHTML = "";
    return true;
  }
}

</script>
</body>
</html>